@use "../global";
.blog-main {
background: #FFF5EB;
  h3{
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  text-transform: uppercase;
  
  text-align: center;
  /* Black */
  
  color: #161722;
  
  padding-top: 128px;
  }
  h1{
    font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  
  /* Black */
  padding-top: 16px;
  color: #161722;
  
  }
}
.blog{
  margin-top: 64px;
  width: 100%;
  background-color: #ffffff;
  .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
    padding: 56px 85px 56px 56px;

  }
  h2{
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* or 138% */

letter-spacing: -0.01em;
text-transform: uppercase;

/* Black */

color: #161722;
padding-top: 12px;
  }
  h6{
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Black */

color: #161722;
padding-top: 16px;
opacity: 0.78;
  }
  button:hover{
    color: black;
    background: transparent;
    border: 1px solid black;
  }
  button{
  
margin-top: 32px;
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-align: center;
text-transform: uppercase;

/* Black */
background: #FFD2A4;
border-radius: 12px;
padding: 24px 64px;
color: #1C1D28;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    p{
      font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;

/* Black */

color: #161722;

opacity: 0.8;
    }
  }
}
@media(max-width: 1236px) {
                .box {
                  grid-template-columns: 1fr !important;
                    .left{
                      img{
                        width: 100%;
                      }
                    }
                }
}
@media(max-width: 560px) {
                .flex{
                  flex-direction: column;
                  text-align: center;
                }
                .right{

                  h2{
                    font-size: 25px!important;
                    text-align: center !important;
                  }
                }
}