@use "../base/reset";
@use "../layout/container";
@use "../abstracts/variables" as var;

header {
  background-image: url(/img/contact/6liebVeAfrY.png);
  background-size: cover;
}

.head {
  // margin: 100%;
  height: 483px;
  left: 0;
  top: 80px;
}

.header-item {
  p {
    // position: absolute;
    text-align: center;
    width: 63px;
    height: 19px;
    right: 1327px;
    margin-top: 220px;
    font-weight: 400;
    font-size: var.$h6;
    line-height: 19px;
    text-transform: uppercase;
    color: var.$c2;
  }
  h3 {
    // position: absolute;
    width: 409px;
    height: 128px;
    right: 981px;
    margin-top: 16px;
    font-weight: 700;
    font-size: var.$h2;
    line-height: var.$h1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fff;
  }
}


.contact-form {
  display: block;
  // display: block;
  // position: absolute;
  width: 624px;
  height: 484px;
  // left: 110px;
  top: 691px;
  // position: absolute;
  width: 100%;
  height: 483px;
  left: 0px;
  // top: 80px;
  
  .Address {
    margin-left: 128px;
    margin-top: 183px;
    p {
      margin-bottom: 8px;
      margin-top: 8px;

    }
    .img-log {
      margin-left: 32px;
    }
  }
}

.input {
  // margin-left: 110px;
  .cont-form {
    // position: absolute;
    margin-top: 128px;
    width: 507px;
    height: 28px;
    right: 881px;
    margin-bottom: 32px;
    // top: 691px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #1E1B1B;
  }
  .inp {
    width:50%;
  }
}

menu {
  text-align: center;
  margin-top: -125px;
  height: 100vh;
  background: #E5E5E5;
}

input[type='text'] {
  display: block;
  margin-bottom: 12px;
  width: 634px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

input[type='email'] {
  display: block;
  margin-bottom: 12px;
  border-radius: 4px;
  width: 634px;
  height: 40px;
  border: none;
}


input[type='submit'] {
  display: block;
  margin-bottom: 12px;
  border-radius: 4px;
  width: 634px;
  height: 40px;
  border: none;
  background: #FFD2A4;
  border-radius: 12px;
  color: #1C1D28;
}

@media (min-width:1140px) {
  .contact-form {
    display: flex;
    text-align-last: left;
  }
}