@use "../global";
@use "variables" as var;

header {
  // position: absolute;
  width: 100%;
  height: 483px;
  left: 0px;
  top: 80px;
  background: url(/img/contact/6liebVeAfrY.png);
  
  .header-item {
    p {
      position: absolute;
      width: 63px;
      height: 19px;
      right: 1327px;
      top: 220px;
      font-weight: 400;
      font-size: var.$h6;
      line-height: 19px;
      text-transform: uppercase;
      color: var.$c2;
    }
    h3 {
      position: absolute;
      width: 409px;
      height: 128px;
      right: 981px;
      top: 255px;
      font-weight: 700;
      font-size: var.$h2;
      line-height: var.$h1;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.contact-form {
  display: flex;
  display: block;
  position: absolute;
  width: 624px;
  height: 484px;
  left: 110px;
  top: 691px;
  position: absolute;
  width: 1500px;
  height: 483px;
  left: 0px;
  top: 80px;
  .Address {
    margin-left: 128px;
  }
}